<p id="notice"><%= notice %></p>

<h1>Nodes</h1>

<div>
  <% @nodes.each do |node| %>
    <% if node.ancestry == nil %>
      <%= link_to node.name, node %>
      <%= render 'subnodes', nodes: node.descendants.arrange %>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'New Node', new_node_path %>
